@tailwind base;
@tailwind components;
@tailwind utilities;




html,body{
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}



.glow-animate {
  text-shadow: 
    0 0 5px white, 
    0 0 10px white, 
    0 0 20px white;
}

/*.footer-border{
  border:1px solid gray
}*/
.typewriter {
  display: inline-block;
  overflow: hidden;            /* Ensures text is hidden until revealed */
  white-space: nowrap;         /* Keeps text on one line */
  border-right: 3px solid; /* Cursor effect */
  width: 0;                    /* Start hidden */
  animation: typing 3s steps(20, end) forwards;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Cursor blinking */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes skill-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-skill-slide {
  animation: skill-slide 18s linear infinite;
}


