@tailwind base;
@tailwind components;
@tailwind utilities;




html,body{
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}


/*.footer-border{
  border:1px solid gray
}
.typewriter {
  display: inline-block;
  overflow: hidden;            
  white-space: nowrap;        
  border-right: 3px solid; 
  width: 0;                   
  animation: typing 3s steps(20, end) forwards;
}
/*
/* Typing animation */
/*@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}*/

/* Cursor blinking 
@keyframes blink {
  50% {
    border-color: transparent;
  }
}*/

@keyframes skill-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-skill-slide {
  animation: skill-slide 18s linear infinite;
}


